<div class="container">
  <div class="row">
    <!--<div class="col-xs-3">-->
      <!--<app-sidenavbar></app-sidenavbar>-->
    <!--</div>-->
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="showMessageToUser()">Send a Message user</button>
      <button class="btn btn-primary" (click)="showMessagesSentToUser()">Show messages sent a user</button>
      <button class="btn btn-primary" (click)="showBulkMessagesToUser()">Send Bulk message</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-4" id="messageToUser">
      <form (ngSubmit)="messageToUser(f1)" #f1="ngForm" ngNativeValidate >
        <div class="form-group" >
          <label for="userid">User ID</label>
          <input type="text" id="userid" name="userid" ngModel class="form-control"
                 placeholder="Enter user ID " required>
        </div>
        <div class="form-group">
          <label for="subject">Subject</label>
          <input type="text" id="subject" name="subject"  ngModel class="form-control" required>
        </div>

        <div class="form-group">
            <label for="message">Message</label>
            <textarea name="message" id="message" ngModel class="form-control"
                      rows="10" cols="35" required></textarea>
        </div>
            <button class="btn btn-primary" type="submit">Send</button>
            <button class="btn btn-primary" type="reset">Cancel</button>
      </form>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-4" id="messagesSentToUser"
          style="position:relative;top:-430px;" >
      <form (ngSubmit)="messagesSentToUser(f2)" #f2="ngForm" ngNativeValidate >
        <div class="form-group" >
          <label for="userid2">User ID</label>
          <input type="text" id="userid2" name="userid2" ngModel class="form-control"
                 placeholder="Enter user ID " required>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-4" id="bulkmessagesToUser"
         style="position:relative;top:-540px;" >
      <form (ngSubmit)="bulkMessages(f2)" #f2="ngForm" ngNativeValidate >
        <div class="form-group" >
          <div class="row">
            <div class="col-xs-12">
              <label for="message3">Message</label>
            <textarea name="message3" id="message3" ngModel class="form-control"
                      rows="10" cols="35" required></textarea>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Send Message to All users</button>
        <button class="btn btn-primary" type="reset">Cancel</button>
      </form>
    </div>
  </div>
</div>

