<div class="container">
  <div class="header">
    <h4 class="title">Lab User Details</h4>
  </div>
  <form (ngSubmit)="RegisterLabUser(f2)" #f2="ngForm" >
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="userid">UserID:</label>
          <input type="text" ngModel class="form-control" id="userid"
                 placeholder="UserID" name="userid">
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label class="control-label" for="labname">Lab Name:</label>
          <input type="text" ngModel class="form-control" id="labname" name="labname" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label" for="email">Email:</label>
          <input type="email" ngModel class="form-control"
                 id="email" placeholder="Enter email"
                 name="email" >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label" for="area">Area:</label>
          <input type="text" ngModel class="form-control" id="area"
                 name="area">
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label" for="city">City:</label>
          <input type="text" ngModel class="form-control" id="city"
                 name="city">
        </div>
      </div>



      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label" for="dname">Doctor Name:</label>
          <input type="text" ngModel class="form-control" id="dname"
                 name="dname" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label" for="labnum">Lab Number:</label>
          <input type="text" ngModel class="form-control" id="labnum"
                 name="labnum">
        </div>
      </div>
    </div>

    <button type="submit"  class="btn btn-primary center-block">Register Profile</button>

  </form>
</div>
