
  <nav class="navbar navbar-default">
    <div class="container-fluid" style="cursor: pointer">
      <div class="navbar-header">
        <a class="navbar-brand">Report Racks</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a>One Stop solution to access medical reports any where</a></li>
        </ul>
        <!--<ul class="nav navbar-nav navbar-center">-->
        <!--&lt;!&ndash;<li routerLinkActive="active"><a routerLink="/dashboard" *ngIf="authService.isAuthenticated()">Dashboard</a> </li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li routerLinkActive="active"><a routerLink="/users" *ngIf="authService.isAuthenticated()">List of Users</a> </li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li routerLinkActive="active"><a routerLink="/reports" *ngIf="authService.isAuthenticated()">Reports</a> </li>&ndash;&gt;-->

        <!--<li routerLinkActive="active"><a routerLink="/dashboard" >Dashboard</a> </li>-->
        <!--<li routerLinkActive="active"><a routerLink="/users" >List of Users</a> </li>-->
        <!--<li routerLinkActive="active"><a routerLink="/reports" >Reports</a> </li>-->
        <!--<li routerLinkActive="active"><a routerLink="/messageToUsers" >Message to Users</a> </li>-->
        <!--<li routerLinkActive="active"><a routerLink="/dashboardemp" >dashboard emp</a> </li>-->


        <!--</ul>-->
        <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<ng-template [ngIf] = "!authService.isAuthenticated()">-->
        <!--<li><a routerLink="/signup">Register</a> </li>-->
        <!--<li><a routerLink="/signin">Login</a> </li>-->
        <!--</ng-template>-->

        <!--<li><a style="cursor: pointer" (click) = "onLogout()" *ngIf="authService.isAuthenticated()">Logout</a> </li>-->

        <!--</ul>-->
      </div>

    </div>
  </nav>

