.navbar-brand{
  /*padding-top: 50px;*/
}
.navigation-item{
  box-sizing: border-box;
  display:block;
  border-bottom: solid 1px #D8D8D8;
}

.navigation-item:hover {
  background:#666;
  margin-left: 7px;
  transition: linear all 0.3s;
}


.navigation-item a:hover {
 color:#00bbff;
}

