
<div class="container">
  <div class="row">
    <!--<div class="col-xs-3">-->
      <!--<app-sidenavbar></app-sidenavbar>-->
    <!--</div>-->
    <div class="col-xs-12">
        <table  datatable   class="row-border hover"
                [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
          <tr>
          <th>ID</th>
          <th>Name</th>
            <th>Gender</th>
            <th>TotalReports</th>
            <th>ApprovedReports</th>
          <th>Registration Date</th>
            <th>SubscriptoinEnds</th>
          <th>City</th>
          </tr>
         </thead>
          <tbody>
          <tr *ngFor="let u1 of results">
            <td>{{u1.userId}}</td>
            <td>{{u1.customerName}}</td>
            <td>{{u1.gender}}</td>
            <td>{{u1.TotalReports}}</td>
            <td>{{u1.ApprovedReports}}</td>
            <td>{{u1.createdDate.toString()}}</td>
            <td>{{u1.SubscriptoinEnds}}</td>
            <td>{{u1.city}}</td>
          </tr>
          </tbody>
        </table>
    </div>

  </div>
</div>

